<%= simple_form_for(@trip) do |f| %>
  <% if @trip.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@trip.errors.count, "error") %> prohibited this trip from being saved:</h2>

      <ul>
      <% @trip.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <%= f.input :name, label: 'Your trip name please' %>
  <%= f.association :users, as: :check_boxes %>
  <p>
  <button type ="button" class="btn btn-primary">
      <%= link_to 'New Participant', new_user_path %>
  </button>
</p>
  <%= f.submit %>
<% end %>
