<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @trip.name %>
</p>

<p>
  <b>Trip Participants:</b>
  <%= @trip.users.map(&:name).join(", ") %>
</p>

<table class="table table-bordered table-hover">
	<tr>
		<th> Name of Expense </th>
		<th> Price of Expense </th>
		<th> Payer </th>
	</tr>	


<% @trip.expenses.each do |expense| %>
	<tr>
		<td> <%= expense.name %> </td>
		<td> <%= expense.price %> </td>
		<td> <%=
			if u = expense.user
				u.name
			else
				"none"
			end 
			%> 
		</td>
	</tr>	
<% end %>

</table>



<table class="table table-bordered table-hover">
	<tr>
		<th> Payer </th>
		<th> Total Amount Paid </th>
	</tr>

	<% @trip.users.each do |user| %>
		<tr>
			<td> <%= user.name %> </td>
			<td> <%= user.total_expense %> </td>
			
		</tr>
	<% end %>

	<tr>
		<td> <strong> Total Spent: </strong> </td>
		<td> <strong> <%= @trip.total_spent %> </strong> </td>
	</tr>
</table>



<p>
	<button type ="button" class="btn btn-primary">
  		<%= link_to 'New Expense', new_trip_expense_path(@trip) %>
	</button>
</p>

<%= link_to 'Edit', edit_trip_path(@trip) %> |
<%= link_to 'Back', trips_path %>
